{% extends 'base.html.twig' %}

{% block title %}
    Traducteur
{% endblock %}

{% block subtitle %}
    Traduction
{% endblock %}

{% block wiki_body %}
id="wiki_body"
{% endblock %}

{% block main %}
    <section class="wiki_trad">
        <p>Quaestione igitur per multiplices dilatata fortunas cum ambigerentur quaedam, non nulla levius actitata constaret, post multorum clades Apollinares ambo pater et filius in exilium acti cum ad locum Crateras nomine pervenissent, villam scilicet suam quae ab Antiochia vicensimo et quarto disiungitur lapide, ut mandatum est, fractis cruribus occiduntur.</p>
    </section>
    <section class="wiki_trad">
        <p>Quaestione igitur per multiplices dilatata fortunas cum ambigerentur quaedam, non nulla levius actitata constaret, post multorum clades Apollinares ambo pater et filius in exilium acti cum ad locum Crateras nomine pervenissent, villam scilicet suam quae ab Antiochia vicensimo et quarto disiungitur lapide, ut mandatum est, fractis cruribus occiduntur.</p>
    </section>
{% endblock %}