html {
    background: #17181C !important;
}

#wiki_body {
    background: url("../img/dcrebirth_opacity.jpg");
    background-size: cover;
    height: 800px;
    color: white !important;
}

#wiki_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 77%;
}

#wiki_logo {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 15px;
}

#test_logo { font-size: 20px; }

#fr_navi {
    background: #17181C;
    height: 55px;
}

#fr_navi a {
    color: white;
    transition: all 0.3s;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Cousine', Monospace;
}

#fr_navi a:hover {
    background: #ff8d1f;
    transition: all 0.3s;
}

#wiki_title {
    text-align: center;
    color: #17181C;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    margin: 20px 0px;
}

#wiki_footer {
    display: flex;
    justify-content: space-around;
    background: #17181C;
    box-sizing: border-box;
    padding: 15px 25px;
    color: #fff;
    transition: all 0.3s;
}

#wiki_footer a {
    color: #fff;
}

#wiki_footer a:hover {
    color: #ff8d1f;
    transition: all 0.3s;
}

.wiki_h2 {
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

#wiki_footer li {
    font-family: 'Cousine', Monospace;
    font-size: 12px;
    margin-left: 15px;
}

/* ------------------- HOME ----------------------- */

#wiki_home, .wiki_trad {
    width: 700px;
    margin: auto;
    background: #17181C;
    color: #ddd;
    padding: 20px;
    border-radius: 5px;
    line-height: 23px;
    text-align: justify;
    box-sizing: border-box;
    font-family: 'Cousine', sans-serif;
    font-size: 12px !important;
}

/* ------------------- Traducteur ----------------------- */





