<footer>
    <section id="wiki_footer">
        <article>
            <ul>
                <h2>Test</h2>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
            </ul>
        </article>
        <article>
            <ul>
                <h2>Test</h2>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
            </ul>
        </article>
        <article>
            <ul>
                <h2>Test</h2>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
                <li><a href="">Lorem Ipsum</a></li>
            </ul>
        </article>
    </section>
</footer>