{% extends 'base.html.twig' %}

{% block title %}
    Traducteur
{% endblock %}

{% block subtitle %}
    Votre souhait !
{% endblock %}

{% block wiki_body %}
    id="wiki_body"
{% endblock %}

{% block main %}
    <section id="wishlist" class="wiki_form">
        {{ form(wishForm) }}
    </section>
{% endblock %}