<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cousine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="img/favicon.png">
    <title>{% block title %}{% endblock %}</title>
</head>
<body {% block wiki_body %}{% endblock %}>
    <header>{% include 'main/inc/nav.html.twig' %}</header>
    <main id="wiki_main" class="container">
        <section>
            <h1 id="wiki_title">{% block subtitle%}{% endblock %}</h1>
        </section>
        {% block main %}{% endblock %}
    </main>
    {%  include 'main/inc/footer.html.twig' %}
</body>
</html>
